

/* 点滅ボタン */
  .box01{
    animation: flash 2s linear infinite;
    width:20px;
    height:20px;
    background:red;
    margin:20px;
    position:absolute;
    top:508px;
    left:508px;}
  .box02{
    animation: flash 1s linear infinite;
    width:20px;
    height:20px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:235px;
    left:470px;}
  .box03{
    animation: flash 1s linear infinite;
    width:20px;
    height:20px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:585px;
    left:52px;}
  .box04{
    animation: flash 1s linear infinite;
    width:20px;
    height:20px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:465px;
    left:283px;}
  .box05{
    animation: flash 1s linear infinite;
    width:20px;
    height:20px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:454px;
    left:518px;}
  .box06{
    animation: flash 1s linear infinite;
    width:20px;
    height:20px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:605px;
    left:508px;}
  .box07{
    animation: flash 1s linear infinite;
    width:20px;
    height:20px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:605px;
    left:667px;}
/* 点滅ボタンここまで */


  @keyframes flash {
    0%,100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
/* 点滅ボタンここまで */

  .map{
   position: absolute;
   top:0;
   left:0;
  }
.text{
  position: absolute;
  top:760px;
  left:350px;
}
.home{
  position: absolute;
  top:0px;
  left:800px;
}
.artscenter{
  position: absolute;
  top:320px;
  left:800px;
}
.mukou{
  position: absolute;
  top:400px;
  left:800px;
}
