

/* 点滅ボタン */
  .momosada{
    animation: flash 2s linear infinite;
    width:49px;
    height:50px;
    background:red;
    margin:20px;
    position:absolute;
    top:499px;
    left:495px;}
  .ground{
    animation: flash 1s linear infinite;
    width:20px;
    height:20px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:335px;
    left:630px;}
  .approach{
    animation: flash 1s linear infinite;
    width:20px;
    height:20px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:624px;
    left:120px;}
  .platform{
    animation: flash 1s linear infinite;
    width:360px;
    height:10px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:488px;
    left:274px;}
  .pilotis{
    animation: flash 1s linear infinite;
    width:200px;
    height:11px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:450px;
    left:330px;}
  .aca{
    animation: flash 1s linear infinite;
    width:20px;
    height:35.5px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:571px;
    left:509.5px;}
  .symmetry{
    animation: flash 1s linear infinite;
    width:10px;
    height:109px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:498px;
    left:650px;}
/* 点滅ボタンここまで */


  @keyframes flash {
    0%,100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
/* 点滅ボタンここまで */

  .map{
   position: absolute;
   top:0;
   left:0;
  }
.text{
  position: absolute;
  top:760px;
  left:350px;
}
.home{
  position: absolute;
  top:0px;
  left:815px;
}
.artscenter{
  position: absolute;
  top:320px;
  left:815px;
}
.mukou{
  position: absolute;
  top:400px;
  left:815px;
}
.miya{
  position: absolute;
  top:480px;
  left:815px;
}
.imao{
  position: absolute;
  top:560px;
  left:815px;
}
