


  .box01{
    animation: flash 1s linear infinite;
    width:15px;
    height:15px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:500px;
    left:500px;

  }
  .box02{
    animation: flash 1s linear infinite;
    width:15px;
    height:15px;
    background:#0091EA;
    margin:20px;
    position:absolute;
    top:300px;
    left:450px;

  }

  @keyframes flash {
    0%,100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }


  .kasa {/*親div*/
  position: relative;/*相対配置*/
  }
